.inspire-btn-container {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 25%;
  right: 25%;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #fe9e0d;
}

.inspire-btn {
  background: none;
  border-radius: 20px;
}
