.homepage-container {
  width: 100%;
  padding: 20% 10% 20% 10%;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: justify;
  grid-gap: 10%;
}

.homepage-title {
  font-size: 60px;
}
