@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive&family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&family=Shojumaru&display=swap");

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

.intro-text {
  width: 95%;
  text-align: center;
  font-size: 1em;
  box-sizing: border-box;
  width: 70%;
}

.logo-img {
  width: 4rem;
}

.wrapper p {
  font-family: "Carme", sans-serif;
  font-size: 5em;
  color: #ff6600;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
  text-shadow: 2px 2px 5px black;
  margin: 0;
}

.wrapper img:hover {
  -webkit-animation: jump 1.5s ease 0s infinite normal;
  animation: jump 1.5s ease 0s infinite normal;
  animation-timing-function: ease;
}
@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper p {
    font-size: 6em;
  }
}

@media only screen and (max-width: 400px) {
  .intro-text {
    font-size: 0.8rem;
  }

  .wrapper p {
    font-size: 4em;
  }
}
