.searchbar {
  border-radius: 50px;
  border: 2px solid #ff6600;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin: auto auto;
  width: 70%;
  max-width: 500px;
  height: 50px;
}

::placeholder {
  color: #000;
}

.filter-button,
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 2.5rem;
  filter: invert(100%);
  height: 100%;
  /* justify-self: start; */
}

.filter-button img {
  width: 60%;
}

.searchbar-button-container {
  border-radius: 50px;
  background-color: #ff6600;
  padding: 0.5%;
}

.searchbar-text {
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 0.8em;
  text-align: center;
  flex: 2;
}

.searchbar-reset {
  justify-self: center;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 100%;
  text-align: center;
}

.reset-icon {
  width: 40%;
}

.recipe-results {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffeedc;
  margin-top: 5%;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
}

.results-image {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  .recipe-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .searchbar-reset {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .searchbar-text {
    font-size: 12px;
  }

  .searchbar {
    width: 80%;
    max-width: 500px;
    height: 50px;
  }

  .filter-button,
  .search-button {
    width: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .searchbar-text {
    font-size: 12px;
  }

  .searchbar {
    width: 85%;
  }

  .filter-button,
  .search-button {
    width: 1.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .searchbar-text {
    font-size: 12px;
  }
}
