.searchbar {
  left: 10%;
  right: 10%;
  border-radius: 50px;
  padding: 1%;
  border: 2px solid #fe9e0d;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
}

.filter-button {
  float: left;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 40%;
}

.search-button {
  float: right;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 40%;
}

.searchbar-text {
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 100%;
  text-align: center;
}

.searchbar-reset {
  width: 40%;
  justify-self: center;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 100%;
  text-align: center;
}

.recipe-results {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffeedc;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  padding: 1%;
}

@media only screen and (min-width: 1000px) {
  .recipe-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .searchbar {
    grid-template-columns: 1fr 10fr 1fr 1fr;
  }

  .searchbar-reset {
    width: 100%;
  }
}
