.searchbar {
  top: 40%;
  left: 10%;
  right: 10%;
  border-radius: 50px;
  padding: 1%;
  border: 2px solid #fe9e0d;
  box-sizing: border-box;
}

.filter-button {
  float: left;
  border: none;
  background: none;
  outline: none;
  padding: 8px;
}

.search-button {
  float: right;
  border: none;
  background: none;
  outline: none;
  padding: 8px;
}

.searchbar-text {
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 100%;
  line-height: 40px;
  text-align: center;
}
